<h1>New access_token</h1>

<%= form_for(@access_token) do |f| %>
  <% if @access_token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access_token.errors.count, "error") %> prohibited this access_token from being saved:</h2>

      <ul>
      <% @access_token.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= link_to 'Back', access_tokens_path %>
