<h1>Listing trackers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th>Title</th>
    <th>Total sent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trackers.each do |tracker| %>
  <tr>
    <td><%= tracker.name %></td>
    <td><%= tracker.opens.count %></td>
    <td><%= tracker.title %></td>
    <td><%= tracker.total_sent %></td>
    <td><%= link_to 'Show', tracker %></td>
    <td><%= link_to 'Edit', edit_tracker_path(tracker) %></td>
    <td><%= link_to 'Destroy', tracker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tracker', new_tracker_path %>
