<div id="user_nav">
  <div class="span-4 first">
      <%= link_to('Opentrak', trackers_path, :class => 'stencil large no-underline')%>
  </div>
  <div class="span-8">
	 &nbsp;
  </div>
  <div class="span-12 last">
		<% if user_signed_in? %>
			Hey there <%= current_user.email %> | <%= link_to "Sign out", destroy_user_session_path%> | <%= link_to "API", access_tokens_path %>
		<% else %>
			<%= link_to "Log in", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %> 
		<% end %>
  </div>
</div>