<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
  <%= stylesheet_link_tag 'blueprint/screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Allerta+Stencil' %>
</head>
<body>
    <div class="full-width">
        <div class="container">
          <div class="span-24 last large" id="header">
            <%= render 'layouts/header' %>
          </div>
        </div>
    </div>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <div id="footer" class="span-24 last">
        <%= render 'layouts/footer' %>
      </div>
    </div>
</body>
</html>
